
<div class="row">
<div class="wrapper">
	<div class="medium-6 medium-centered columns padding_div">

		  <h3>Sign Up</h3>
			<%= form_for @user do |f| %>
			<% if @user.errors.any? %>
				<div data-alert class="alert-box alert radius">
  				<p>Form is invalid</p>
		      <ul>
		      <% for message in @user.errors.full_messages %>
		     <li class="alert-box-content">
		       <%= message %>
		     </li>
		        <% end %>
		      </ul>
  				<a href="#" class="close">&times;</a>
				</div>
			<% end %>  
				<div class="field">
					<%= f.label :email %>
					<%= f.text_field :email %>
				</div>
				<div class="field">
				  <%= f.label :password %>
				  <%= f.password_field :password %>
				</div>
				<div class="field">
				  <%= f.label :password_confirmation %>
				  <%= f.password_field :password_confirmation %>
				</div>
				<div class="actions">
					<%= submit_tag "Sign Up", class: 'button tiny success round right' %>
				</div>
		<% end %>	

		<div class="clearfix"></div>
	</div><!-- column -->
</div><!-- wrapper -->
</div><!-- row -->

