
    <li>
    <div class="th img">


    	<%= link_to image_tag(project.image.url(:medium)), project_path(project)%>

        <div class="overlay">
           
            <a href="<%= project_path(project)%>" class="expanded">Learn<span> more</span></a>

            <a href="<%= project_path(project)%>" class="anchor"></span></a>
            <a class="close-overlay hidden">x</a>
        </div>


        <p>
            <span class="title">project: <strong><%= project.title %></strong></span><span class="text-left days"><hr><%= (project.end_time.to_date - DateTime.now.to_date).to_i %> days left</span><span class="right fund_raised" id="value" data-attribute-amount=<%= @hash_amount_project[project.id] %>>Fund raised: $<%= @hash_amount_project[project.id] %>
            </span>
            <span class="goal" style="display:none" data-attribute-goal=<%= project.goal  %>><%= project.goal %></span>
            <!-- <span> backers of the project: <%= project.get_backer_count_for_the_project%> </span> -->
        </p>

       <div class="progress round">
      	 	<span class="meter thumb_meter" style="width: 1%"></span>
    	</div>

    </div>

    </li>

