$('.all_projects').html(
	"<ul class='small-block-grid-3'><%=  j(render @projects)%></ul>")
<%if @category%>
	console.log("<%=@category.get_money_raised_for_the_category%>")
	$("#money-raised-for-the-category").html("<span class='label round'>Category: <strong><%=@category.name %></strong> - $<%=@category.get_money_raised_for_the_category%> raised</span>")
<%end%>
$('#paginate').html("<%= j( paginate(@projects, :remote => true).to_s)%>");

