
<div id="slider">
  <ul class="example-orbit" data-orbit>
  
    <% @most_recent_project.each do |latest_project| %>
    <li>
     <img src="http://lorempixel.com/900/300/technics/<%= latest_project.picture_url %>" alt="slide 2" />

     <div class="description text-center">
      <%= latest_project.description %>
     </div>

      <div class="orbit-caption">
        <em>By <%= link_to latest_project.title, project_path(latest_project)%></em>
      </div>
    </li>
    <% end %>
  </ul>

<%= link_to "Start a Project", new_project_path, class: "button success radius large start" %>


</div><!-- #slider -->

<br>
  <div class="row">


    <div class="medium-2 columns">

      <ul class="side-nav">
         <li><strong>Category</strong></li>

        <% @categories.each do |category| %> 

          <li data-project-id="<%= category.id %>"><%= link_to category.name, category_path(category) %></li>

          <li><%= link_to category.name, projects_path, data: {remote: true, params: { category_id: category.id }.to_param }, class: "category_link" %></li>

       
         <% end %> 

      </ul>

    </div>

    <div class="medium-10 columns">

      <ul class="breadcrumbs">
        <li><%= link_to "All Projects", projects_path %></li>
      </ul>
    
   
    <div id="effect-6" class="effects clearfix">
       <ul class="small-block-grid-3">
        <%= render @projects %>
      </ul>
    </div>
 

      <div id="paginate">
        <%= paginate @projects,:remote => true %>
      </div>

    </div>

  </div><!-- row -->
