<div class="margin"></div>

  <div class="row">


    <div class="medium-4 columns">

      <img src="http://lorempixel.com/300/250/technics/<%= @project[:picture_url] %>" alt="slide 2" />

    </div>

    <div class="medium-8 columns">

        
      <h4>Title: <%= @project[:title] %>  <span class="button alert round fund_raised">$ <%= @sum_of_amount %> Raised</span></h4><hr>
      <p><em>Descriptions:</em> <%= @project[:description] %></p>
      <p>Goal: pledge for $<%= @project.goal %></p>
      <p>Currently Raised: <%= @sum_of_amount%></p>
      <p>Start Date: <%= @project.start_time.to_date  %></p>
      <p>End Date: <%= @project.end_time.to_date  %></p>
      <p>Dates left: <%= (@project.end_time.to_date - DateTime.now().to_date).to_i  %> </p>
      <p id ="user_pledge_state" data-amount-pledged =<%= @current_user_amount_pledged%>>      
        <% if  @current_user_amount_pledged >0 %>
        I have backed this project with $<%= @current_user_amount_pledged %>
        <% end %>
      </p>
      <p>There are <span id="num_supporters" data-num-supporters=<%= @total_supporters%>><%= @total_supporters%></span> supports for this project</p>
      </div>
<hr>
  </div><!-- row -->


  <div class="row">


    <div class="medium-4 columns">



            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div><img src="http://placehold.it/350x150/333/&text=avatar"></div>
              <div class="panel-heading text-center"><em><%= @project.user.username %></em></div>
              <div class="panel-body">

                <p>Biography: <%= @project.user.biography %></p>
              </div>
              <div class="panel-footer">
                <ul class="inline-list author">
                  <li class="text-center"><a href="#" data-reveal-id="bio">Bio</a></li>
                  <li class="text-center"><a href="#" data-reveal-id="contact">Contact</a></li>
                </ul>

                <div id="bio" class="reveal-modal small panel callout" data-reveal>
                  <h2>Biography: <%= @project.user.username %></h2>
                  <p><%= @project.user.biography %></p>
                  <a class="close-reveal-modal">&#215;</a>
                </div>

                 <div id="contact" class="reveal-modal small panel" data-reveal>
                  <h2>Get in Touch with <%= @project.user.username %></h2>
                 

                    <form>
                    <div class="row">
                      <div class="large-12  columns">
                        <label>Name:
                          <input type="text" placeholder="Your Name" />
                        </label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="large-12 columns">
                        <label>Note
                          <textarea type="text" rows="3"/></textarea>
                        </label>
                      </div>
                    </div>

                    </form>
                    <hr>

                  <div class="row">
                      <div class="large-12 columns">
                          <ul class="inline-list text-center">
                            <li><i class="fi-social-facebook large"></i></li>
                            <li><i class="fi-social-twitter large"></i></li>
                          </ul>
                      </div>
                    </div>

                  <a class="close-reveal-modal">&#215;</a>
                </div>
              </div>           
            </div><!-- panel -->
          </div>
  
    <div class="medium-8 columns">

      <div class="row">
        <div class="medium-10 medium-offset-1 columns pledge">
          <h4 class="text-center">Pledge on this Project</h4>
        </div>
      </div>

      <div class="row">

         <div class="medium-12 columns">

            <div class="row">
                <% @rewards.each do |reward|%>
                  <div class="medium-4 columns">
                    <ul class="pricing-table">
                      <li class="title">$<%= reward.amount %></li>
                      <li class="divider"></li>
                       <li class="description"><%=reward.description%></li>
                       <li>There are <span class="count_pledges" data-pledge-count= <%= reward.pledges.count %>><%= reward.pledges.count %></span> backers for this reward</li>
                       <% if current_user %>
                      <li class="cta-button">
                        <%= form_tag( pledges_path,{:method=>:post, :class => 'pledge_form'}) do%>
                            <%= hidden_field_tag :user_id, current_user.id %>
                            <%= hidden_field_tag :reward_id, reward.id %>
                            <%= submit_tag "Pledge", class: "button small alert radius pledge_button"%>
                        <% end %>    
                      </li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
               
            </div>
          
        </div>

      </div>
  
      


  </div><!-- row -->