<div class="margin"></div>
<div class="margin"></div>

  <div class="row">


    <div class="medium-4 columns">

      <%= image_tag @project.image.url, class: "th",alt: "slide 2" %>

      <div class="row">

        <div class="medium-12 columns">

  <% @project.reviews.each do |review| %>
    <p>
      <%= review.comment %>
      <br>
      <% if review.user != nil %>
        <em> by <%= review.user.email %></em>
        Added on: <%= review.created_at %>
      <% end %>
    </p>
  <% end %>
  </div>

  <div>
  <!-- <a href="#" id="myModal_btn" class='button small round right'>New Review</a> -->

  <div id="myModal" >
  <% if current_user %>
    <%= form_for([@project, @review]) do |f| %>

    <div class="field">
      <%= f.label :leave_a_review %><br />
      <%= f.text_area :comment %>
    </div>
    <div class="actions">
      <%= f.submit "Submit Comment", :id => "review_submit", class: 'button tiny radius'%>
    </div>
    <% end %>
    
     <% else %>
    <p>Please <%= link_to "login", new_session_path %> to add a review</p>
     <% end %>

 </div>


</div>



        </div>



    </div>

    <div class="medium-8 columns">
  
      <div class="row project_title"> 

         <div class="medium-8 columns"> <h4>Title: <%= @project[:title] %></h4></div>

        <div class="medium-4 medium-pull-1 columns">
          <h4 id ="user_pledge_state" class="label secondary round" data-amount-pledged =<%= @current_user_amount_pledged%>>      
          </h4>
        </div>     

      </div> 

      <hr>

      <div class="row">

        <div class="medium-6 columns">
            <div id="el" data-attribute-el></div><br>

            <div class="progress round" data-attribute-progress>
              <span class="meter" style="width: 1%"></span>
              <span class="goal" data-attribute-goal=<%= @project.goal %>></span>
            </div>

        </div><br>

        <div class="medium-6 columns">
           <span class="button alert round fund_raised" data-attribute-amount= <%= @sum_of_amount %>>$ <%= @sum_of_amount %> Raised</span>
        </div>
        
      </div><!-- row -->
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th width="250">Start Date: <span><%= @project.start_time.to_date  %></span></th>
              <th width="250">End Date: <span><%= @project.end_time.to_date  %></span></th>
              <th width="250">Days left: <span><%= @project.get_days_left %></span></th>
            </tr>
          </thead>
        </table>
      </div>
      <hr>   
      <ul class="pricing-table">
        <li class="price">Goal:$<%= @project.goal %></li>
        <li class="description"><em>Descriptions:</em> <%= @project[:description] %></em></li>
        <li class="bullet-item">Currently Raised: $<%= @sum_of_amount %></li>
        <li class="bullet-item">There are <span id="num_supporters" data-num-supporters=<%= @total_supporters%>><%= @total_supporters%></span> supports for this project</li>
      </ul>   

      </div>
<hr>
  </div><!-- row -->


  <div class="row">


    <div class="medium-4 columns">



            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div><%= image_tag @project.user.avatar.url(:medium), size: "350x150", alt: "Test" %></div>
              <div class="panel-heading text-center"><em><%= @project.user.username %></em></div>
              <div class="panel-body">

                <p>Biography: <%= @project.user.biography %></p>
              </div>
              <div class="panel-footer">
                <ul class="inline-list author">
                  <li class="text-center"><a href="#" data-reveal-id="bio">Bio</a></li>
                  <li class="text-center"><a href="#" data-reveal-id="contact">Contact</a></li>
                </ul>

                <div id="bio" class="reveal-modal small panel callout" data-reveal>
                  <h2>Biography: <%= @project.user.username %></h2>
                  <p><%= @project.user.biography %></p>
                  <a class="close-reveal-modal">&#215;</a>
                </div>

                 <div id="contact" class="reveal-modal small panel" data-reveal>
                  <h2>Get in Touch with <%= @project.user.username %></h2>
                 

                    <form>
                    <div class="row">
                      <div class="large-12  columns">
                        <label>Name:
                          <input type="text" placeholder="Your Name" />
                        </label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="large-12 columns">
                        <label>Note
                          <textarea type="text" rows="3"/></textarea>
                        </label>
                      </div>
                    </div>

                    </form>
                    <hr>

                  <div class="row">
                      <div class="large-12 columns">
                          <ul class="inline-list text-center">
                            <li><i class="fi-social-facebook large"></i></li>
                            <li><i class="fi-social-twitter large"></i></li>
                          </ul>
                      </div>
                    </div>

                  <a class="close-reveal-modal">&#215;</a>
                </div>
              </div>           
            </div><!-- panel -->
          </div>
  
    <div class="medium-8 columns">

      <div class="row">
        <div class="medium-10 medium-offset-1 columns pledge">
          <h4 class="text-center">Pledge on this Project</h4>
        </div>
      </div>

      <div class="row">

         <div class="medium-12 columns">

            <div class="row" data-equalizer>
                <% @rewards.each do |reward|%>
                  <div class="medium-4 columns end">
                    <ul class="pricing-table" data-equalizer-watch>
                      <li class="title">$<%= reward.amount %></li>
                      <li class="divider"></li>
                       <li class="description"><%=reward.description%></li>
                       <li class="count_pledges text-center" data-pledge-count= <%= reward.pledges.count %>><%= reward.pledges.count %> backers</li>
                       <% if current_user %>

                      <li class="cta-button">
                        <%= form_tag( pledges_path,{:method=>:post, :class => 'pledge_form'}) do%>

                              <% if !current_user.nil? %>
                            <%= hidden_field_tag :user_id, current_user.id %>
                              <% end%>

                            <%= hidden_field_tag :reward_id, reward.id %>
                            <%= submit_tag "Pledge", class: "button small alert radius pledge_button"%>
                        <% end %>    
                      </li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
               
            </div>
          
        </div>

      </div>
    
  </div><!-- row -->



  <div>
    