
<div id="slider">
  <ul class="example-orbit" data-orbit>
  
    <% @most_recent_project.each do |latest_project| %>
    <li>
     <img src="http://lorempixel.com/900/300/technics/<%= latest_project.picture_url %>" alt="slide 2" />

     <div class="description text-center">
      <%= latest_project.description %>
     </div>

      <div class="orbit-caption">
        <em>By <%= link_to latest_project.title, project_path(latest_project)%></em>
      </div>
    </li>
    <% end %>
  </ul>

  <a class="button success radius large start" href="add_project.html">Start a Project</a>

</div><!-- #slider -->

<br>
  <div class="row">


    <div class="medium-2 columns">

      <ul class="side-nav">
         <li><strong>Category</strong></li>

        <% @categories.each do |category| %> 

          <li><%= link_to category.name, category_path(category) %></li>
       
         <% end %> 

      </ul>

    </div>

    <div class="medium-10 columns">

        <ul class="breadcrumbs">
      <li><%= link_to "All Projects", projects_path %></li>
      <li>category: <%= link_to @category.name, category_path(@category) %></li>
    </ul>

      <ul class="small-block-grid-3">

        <%  @per_category.each do |project| %>
          <li><%= link_to image_tag('http://lorempixel.com/200/150/technics/' + project.picture_url), project_path(project) %></li>
       <% end %>


        </ul>

      

        </div>

      

    </div><!-- row -->