<%# navigation styled for Zurb Foundation 5 %>
<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="<%= root_url %>">CROWDFUNDER</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
    
      <!-- Left Nav Section -->
      <ul class="left">
   

        <li class="has-form" id="search">

          <div class="row collapse">


        <%= form_tag projects_path, method: :get, authentication: false, id: 'search-form' do %>

            <div class="large-1 small-3 columns">
             <i class="fi-magnifying-glass button success search"></i>

            </div>

            <div class="large-10 small-9 columns">
             <%= text_field_tag :search, params[:search], class: 'search_input', value: 'Search Projects' %>
            </div>
             <% end %>

          </div>
        </li>

        <li class="has-form">   
           <%= link_to "Start a New Project", new_project_path, class: 'button success large radius' %>
        </li>
        
      </ul>

      <!-- Right Nav Section -->
      <ul class="right userinfo">
         <% if current_user %>
            <li><%= link_to "Hi! #{current_user.username}", user_path(current_user) %></li>
            <li><%= link_to "Log out", sessions_path("current"), :method => :destroy %> </li> 
          <% else %>
         <li><%= link_to "Log in", new_session_path %></li>
         <li> <%= link_to "Sign up", new_user_path %></li>

         <% end %>
      </ul>
    </section>
  </nav>
</div><!-- fixed navbar -->
